@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Sheiko Powerlifting</h1>
	<p class="lead">The School of Sheiko is a program that can be used to track your progress, your workouts and also a place to have discussions with other powerlifters!</p>
	@*<p><a href="https://localhost:44302/Account/Register" class="btn btn-primary btn-lg">Register now! &raquo;</a></p>*@
</div>


@*<div class="row">
		<div class="col-md-4">
			<iframe width="380"
					height="330"
					src="https://www.youtube.com/embed/t2b8UdqmlFs"
					frameborder="0"
					allowfullscreen></iframe>
		</div>
		<div class="col-md-4">
			<iframe width="380"
					height="330"
					src="https://www.youtube.com/embed/esQi683XR44"
					frameborder="0"
					allowfullscreen></iframe>
		</div>
		<div class="col-md-4">
			<iframe width="380"
					height="330"
					src="https://www.youtube.com/embed/d5eGGZXb0Is"
					frameborder="0"
					allowfullscreen></iframe>
		</div>
	</div>*@